body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header, footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header {
    margin-bottom: auto;
}

footer {
    margin-top: auto;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

