body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

header, footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    padding: 20px 50px;
}

header {
    justify-content: space-between;
}

footer {
    margin-top: auto;
    padding: 20px;
    justify-content: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.section {
    display: flex;
    padding: 50px;
}

.one {
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.left {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
}

.top {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.mid {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    width: 100px;
    height: 30px;
    color: #f9faf8;
    border-radius: 6px;
    padding: 6px 0;
    font-weight: 900;
}

.button-one {
    background-color: #3882f6;
    border: none;
    

}

.right {
    background-color: rgb(145, 145, 145);
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
}

.two {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.top-two {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.bot-two {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    gap: 10px;
}

.square {
    width: inherit;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.desc {
    text-align: center;
}

.three {
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 50px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.sign {
    font-weight: 900;
    color: #1f2937;
    font-size: 24px;
    align-self: flex-end;
}

.four {
    justify-content: center;
    padding: 100px 50px;
}

.inside-box {
    background-color: #3882f6;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 40px;
}

.header-four {
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.desc-four {
    color: white;
}

.button-two {
    border: 2px solid white;
    background-color: #3882f6;
    color: white;
}