header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}